<html>
<head>
<meta charset='utf-8' />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>Flashcards v0.69</title>
<script src="vue.min.js"></script>
<script src="d3.min.js"></script>
<script src="cookie.js"></script>
</head>
<body>
<div id="app">
        <!--navbar-->
        <div style='color:rgb(200,200,200);text-align:center' v-show="username.substr(0,1)!='{'">hello {{username}}</div>
        <div style='color:rgb(200,200,200);text-align:center' v-show="username.substr(0,1)=='{'">hello guest, to use the flashcards, please copy <br /><input size="100" readonly="readonly" v-model='username' /><br /> and send it to weixinid:p1386714.<br /></div>
        <h3 style='text-align:center'><span v-on:click="Fresh('prev')">&lt;&lt;</span><input type="text" size="5" v-model="xid" v-on:input="Fresh('curr')" /><span v-on:click="Fresh('next')">&gt;&gt;</span></h3>
        <!--detail and id-->
        <h3 style='width:90%' v-on:click="if (!Showme)Showme=true;else Fresh('rand');" v-show="username.substr(0,1)!='{'"><label v-text="Detail"></label></h3>
        <!--answer-->
        <h2 style='width:90%' v-show="Showme && Disease!=''">
        <span v-on:click="Listdis">{{ Disease }}<br /></span>
        {{ Cat }} {{ Class }}<br />
        {{ Method }}<br />
        <span style="color:rgb(255,30,30)">{{ Rx }}</span><br />
        </h2>
        <h3><span v-html="ldis" v-show="Showldis"></span></h3>
        <p style='color:rgb(200,200,200);text-align:center'>&copy;iga.cc<br />
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- MOBILEAD -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:320px;height:100px"
                     data-ad-client="ca-pub-0519028335142564"
                     data-ad-slot="3587557004"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
        </p>
    </div>
    <script type="text/javascript">
    function rang(min,max){
        var cur=max-min+1;
        return Math.floor(Math.random()*cur+min);
    }
    function user(){
        if (getCookie("device")==null) setCookie("device",getGuid(),"d300");
        var dv=getCookie("device");
        for (var i=0;i<data.ck.length;i++)
            if (data.ck[i].id==dv){ return data.ck[i].name;break;}
            //return "guest";        
            return dv;        
    }
    var ddd;
    d3.csv("ddd", function(dd) {ddd=dd;});
    d3.csv("allowed.txt", function(cc) {data.ck=cc;});
    //Model
    var data = {
        Detail: '点击开始!',
        Disease: '',
        Class: '',
        Method: '',
        Rx: '',
        Cat: '',
        ldis:'',
        Showme: true,
        Showldis: false,
        xid: -1,
        ck:null,
        username:'{Service Unavailable}',
        
    }

    //ViewModel
    var vue = new Vue({
        el: '#app',
        data: data,
        methods: {
            Fresh: function (action) {
                // `this` 在方法里指当前 Vue 实例
                //alert('Next ' + this.Detail + '!');
                if (action=='next')
                this.xid++;
                else if (action=='prev')
                this.xid--;
                else if (action=='rand')
                this.xid=rang(0,ddd.length-1);
                if (this.xid>ddd.length-1)
                this.xid=0;
                else if (this.xid<0)
                this.xid=ddd.length-1
                this.Showme=false;
                this.Showldis=false;
                this.Detail=ddd[this.xid].detail;
                this.Disease=ddd[this.xid].disease;
                this.Class=ddd[this.xid].classi;
                this.Cat=ddd[this.xid].cat;
                this.Method=ddd[this.xid].method;
                this.Rx=ddd[this.xid].rx;  
            },
            Listdis: function(){
                this.Showldis=true;
                var ox='';
                if (this.username.substr(0,1)=='@') {
                for (var i=1; i<ddd.length; i++){
                    if (ddd[i].disease==this.Disease) ox=ox+ '<li>' + ddd[i].cat + ' ' + ddd[i].classi + '-' + ddd[i].rx + '</li>';
                }}
                else {ox='加微信号p1386714付费2元即可随时查看该疾病对应的其他证型和方药';}
                this.ldis=ox;
            }
        },
    });
    vue.$watch('ck', function () {
        //this.Detail=this.xxx[0].detail;
        //执行其他代码
        this.username=user();
    })
    </script>
<div style="display:none;"><script src="https://s4.cnzz.com/z_stat.php?id=1257422626&web_id=1257422626" language="JavaScript"></script></div>
</body>
</html>
