<html>
<head>
<meta charset='utf-8' />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>在线eGFR计算器-肾小球滤过率计算</title>
<script src="/r/assets/vue.min.js"></script>
</head>
<body>
<div id="app">
    <h1><i>egfr@iga.cc</i></h1>
    <p>请在下方依次输入性别，年龄，肌酐，用小数点分隔。男性为1女性为0。<br /><input size='20' v-model='args' /><br /></p>
    <!--公式:<input size='5' v-model='equa' />
    black:<input size='6' v-model='black' />
    weight:<input size='3' v-model='weight' />-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- smallmobile -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:50px"
         data-ad-client="ca-pub-0519028335142564"
         data-ad-slot="8656885006"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <h1 style='font-weight:normal'><span style='color:rgb(215,30,30);font-weight:bold'>{{ egfrmdrd }}</span> (mdrd)<br /><span style='color:rgb(215,30,30);font-weight:bold'>{{ egfrepi }}</span> (epi) </h1>
    <p>{{ stage }}</p>
    <p style='color:rgb(150,150,150)'>
    参考资料：<br />[1]王海燕;肾脏病临床概览.北京大学医学出版社;<br />
[2]Levey AS, Stevens LA, Schmid CH, Zhang YL, Castro AF 3rd , Feldman HI, Kusek JW, Eggers P, Van Lente F, Greene T, Coresh J; CKD-EPI (Chronic Kidney Disease Epidemiology Collaboration): A new equation to estimate glomerular filtration rate. Ann Intern Med 150: 604–612, 2009 ​​​​</p>
    <div style="display:none"><i>MDRD：175*血清肌酐<sup>-1.234</sup>*年龄<sup>-0.179</sup>(如果女性*0.79)(2006年中国版)<br />
    EPI：141*min(血清肌酐/a,1)<sup>b</sup>*max(血清肌酐/a,1)<sup>-1.209</sup>*0.993<sup>年龄</sup>(如果女性*1.018)(a：女性0.7，男性0.9，b：女性-0.329，男性-0.411。)<br />单位：ml/min/1.73 m<sup>2</sup></i></div>
    <p style='color:rgb(200,200,200);text-align:center'><br />&copy;iga.cc</p>
</div>
    <script type="text/javascript">
    //Model
    var data = {
        args:'',
        weight:50,
        egfrmdrd:0,
        egfrepi:0,
        stage:'',
        black:false,
    }
    //ViewModel
    var vue = new Vue({
        el: '#app',
        data: data,
        methods: {
            calc: function () {
                var gfr=0;
                var cr,age,gender,a,b,c,st,k;
                var argx=this.args.split(".");
                console.log(this.args + " " + argx.length);
                gender=(argx[0]=='0')?"f":"m";
                age=Number(argx[1]);
                cr=Number(argx[2])/88.4;
                if (!isNaN(cr) && cr>0.3){
                //mdrd
                k=(gender=='f')?0.79:1;
                gfr=k*175*Math.pow(cr,-1.154)*Math.pow(age,-0.203)
                this.egfrmdrd=gfr.toFixed(2);
                //epi
                a=(gender=='f')?0.7:0.9;
                b=(gender=='f')?-0.329:-0.411;
                k=(gender=='f')?1.018:1;
                gfr=141*Math.pow(Math.min(cr/a,1),b)*Math.pow(Math.max(cr/a,1),-1.209)*Math.pow(0.993,age)*k;
                this.egfrepi=gfr.toFixed(2);
                ///CKD STAGE
                st=Math.floor(this.egfrmdrd/15);
                st=(st>=6)?6:st;
                var rest=['5','4','3b','3a','2','2','1'];
                this.stage="CKD " + rest[st] + "期";}
        },
        },
    });
    vue.$watch('args', function () {
        //this.Detail=this.xxx[0].detail;
        //执行其他代码
        this.calc();
    });
</script>
<div style="display:none;"><script src="https://s4.cnzz.com/z_stat.php?id=1257422626&web_id=1257422626" language="JavaScript"></script></div>
</body>
</html>
